# Archivo de ejemplo para variables de entorno

# Variables de entorno para el servidor
SV_PORT = <>      #-> Puerto en el que se ejecutará el servidor

# Variables de entorno para la base de datos

DB_TYPE = <>   #-> Motor de la base de datos (e.g., postgresql, mysql, etc.)
DB_HOST = <>   #-> Host de la base de datos
DB_PORT = <>   #-> Puerto de la base de datos
DB_USER = <>   #-> Usuario de la base de datos
DB_PASSWORD = <>   #-> Contraseña de la base de datos
DB_NAME = <>   #-> Nombre de la base de datos

# Variables de entorno para ml_service
COINGECKO_API_URL = "https://api.coingecko.com/api/v3"   #-> URL base de la API de CoinGecko
COINGECKO_API_KEY = ""  #-> Clave de API para CoinGecko 
ML_SV_PORT = <>



# Seguridad y Cifrado (AES-256-CBC)
# REQUISITO: ENCRYPTION_KEY debe ser una cadena en hexadecimal de exactamente 64 caracteres (32 bytes).
# Se puede generar en terminal: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
ENCRYPTION_KEY = <>

# JWT
# REQUISITO: strings hexadecimales de 128 caracteres (64 bytes).
# Se genera con: node -e "console.log(require('crypto').randomBytes(64).toString('hex'))"
JWT_SECRET = <>
JWT_MFA_SECRET = <>
